.navbar {
  background: var(--e-primary);
  color: var(--e-secondary);
  font-weight: 500;
  margin-bottom: 0.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 5px 5px 0.5rem rgba(0, 0, 0, 0.137);
}

.navbar .logo {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--e-secondary);
  padding: 0.4rem 0.45rem;
  border: 2px solid white;
}
.navbar .logo .logo-small {
  display: none;
}
.nav-item--effect {
  font-size: 1.1rem;
  padding: 0 0.25rem;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}
.home:hover,
.login:hover {
  padding: 0 0.25rem;
  border-bottom: 2px solid rgba(104, 11, 11, 0.7);
}
.badge-icon .icon {
  font-size: 2rem;
  color: #0e56ffc5;
}
.about div {
  margin: 0 2vw;
}
.badge-count--status {
  padding-top: 0.1rem;
}

@media (max-width: 670px) {
  .navbar .logo {
    color: var(--e-secondary);
    padding: 0.4rem 0.75rem;
    border: 2px solid white;
    margin-left: 0.25rem;
    font-size: 1.25rem;
  }
  .navbar .logo .logo-large {
    display: none;
  }
  .navbar .logo .logo-small {
    display: block;
  }
}
