/* importing uidesign lib */
@import url("https://uidesign-lib.netlify.app/main.css");

/* -font-montserrat- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: var(--third);
}
html {
  scroll-behavior: smooth;
}
:root {
  --e-secondary: #677eff;
  --e-primary: #f8dd30;
}
main {
  margin-top: 4.15rem;
  min-height: 100vh;
}
.section-heading {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  text-decoration: underline;
}
.cart-count {
  margin-left: 1vw;
}
