.all-products-btn {
  display: flex;
  justify-content: center;
}
.all-products {
  background: var(--e-secondary);
  border-color: var(--e-secondary);
  border-radius: 0.25rem;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  margin: 2rem;
}
