.navbar {
  background: var(--e-primary);
  font-weight: 500;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.75rem 0.5rem;
  box-shadow: 5px 5px 0.5rem rgba(0, 0, 0, 0.137);
}
.navbar .logo {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--navbar);
  padding: 0.4rem 0.45rem;
  border: 2px solid white;
}

.navbar .logo-small {
  display: none;
}
.nav-item--effect:hover,
.navbar a {
  color: var(--navbar);
}
.navbar a {
  text-decoration: none;
  padding: 0.25rem 0;
  border-bottom: 2px solid transparent;
}
.navbar a:active,
.navbar a.active {
  color: black;
  border-bottom: 2px solid black;
  transition: all 0.2s linear;
}

.nav-item--effect {
  font-size: 1.1rem;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--e-secondary);
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.badge-count--status {
  padding-top: 0.05rem;
}

@media screen and (max-width: 580px) {
  .navbar .logo {
    color: var(--e-secondary);
    padding: 0.4rem 0.75rem;
    border: 1px solid white;
    margin-left: 0.15rem;
    box-shadow: 0 0 4px 2px inset rgba(0, 0, 0, 0.11);
    font-size: 1.25rem;
  }
  .navbar .logo-large {
    display: none;
  }
  .navbar .logo-small {
    display: block;
    font-size: 1.25rem;
    color: var(--e-secondary);
  }
}
