.wishlist {
  margin: 7rem 1rem 1rem;
}
.wishlist__card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 10vw;
}
.card .card-badge--remove {
  font-size: 1.25rem;
}
.card .card-badge--remove:active {
  color: red;
}
.wishlist__card-section .card-content {
  padding: 0;
}
.wishlist__card-section .card-badge--remove {
  right: 0.3rem;
}
.wishlist__card-section .wishlist-btn button {
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 0;
  background: var(--e-primary);
  color: var(--e-secondary);
  font-weight: 500;
}
