.cart-headsection {
  margin-top: 7rem;
}
.cart-bodysection {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "cb cb cb cb pd pd";
}
.price-detail {
  grid-area: pd;
}

.cart-block {
  grid-area: cb;
  display: flex;
  flex-direction: column;
  margin: 0 1vw;
}
.horizontal-card-row {
  margin-bottom: 0.5rem;
  background: white;
  border: none;
  width: 100%;
}
.horizontal-card-row .horizontal-card__image {
  max-height: 12rem;
  max-width: 175px;
}
.product-quantity button {
  margin: 0.25rem;
}
.product-quantity .quantity {
  padding: 0.35rem 0.7rem;
  border: 1px solid var(--e-secondary);
}
.product-quantity .minus,
.product-quantity .plus {
  font-size: 1rem;
  border: 1px outset var(--e-secondary);
  background: var(--e-secondary);
  color: white;
  border-radius: 0;
}
.horizontal-card__button .remove-btn {
  border-radius: 0;
  border: 1px outset red;
  padding: 0.5rem;
  margin: 2px;
  background: red;
}
.horizontal-card__button .wish-btn {
  background: var(--e-primary);
  min-width: 6rem;
  border-color: var(--e-primary);
}
.horizontal-card__button .remove-btn:active {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

/* --------------small screen-------------- */
@media screen and (max-width: 670px) {
  .cart-bodysection {
    grid-template-rows: auto auto;
    grid-template-areas:
      "cb cb cb cb cb cb"
      "pd pd pd pd pd pd";
  }
  .horizontal-card-row .horizontal-card__image {
    max-height: 10rem;
  }
}
