.cart-block {
  margin-top: 7rem;
}
.horizontal-card-row {
  margin: 1rem;
}
.horizontal-card-row .image-div {
  height: 10rem;
  width: 10rem;
  padding: 1rem;
}
.horizontal-card-row .image-div img {
  height: 100%;
  width: 100%;
}
