.product-section {
  margin: 5rem 0.5rem 0.5rem;
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "fp fp pp pp pp pp pp pp pp";
}

.filter-part {
  grid-area: fp;
}
.filter-content {
  position: sticky;
  top: 75px;
}
.product-part {
  grid-area: pp;
  padding-top: 10vw;
}

.product-section .filter-part,
.product-section .product-part {
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.082);
  border-radius: 0.1rem;
}

/* Products========================== */

.product-part {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.card {
  margin: 0.75rem 0.5rem;
  flex: 1 1 200px;
  background: #fff;
  position: relative;
}
.card-image {
  padding: 3rem 1.5rem 0;
}
.card .out-of-stock {
  position: absolute;
  background: rgba(179, 176, 176, 0.4);
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
}
.card .out-of-stock .out-of-stock--tag {
  color: rgb(212, 141, 10);
  background: rgb(255, 250, 250);
  font-weight: 500;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  position: absolute;
  text-align: center;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.product-img {
  width: 100%;
  height: auto;
}
.card-image button {
  background: transparent;
  color: rgba(128, 128, 128, 0.685);
  border: none;
  font-size: 1.5rem;
}
.card .card-content {
  background: transparent;
  padding: 0;
}
.card .btn-product {
  min-width: 100%;
  border: none;
  border-radius: 0;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 0;
  background: var(--e-primary);
  color: var(--e-secondary);
  font-weight: 500;
}

/* ----------for small screen------------- */
@media screen and (max-width: 670px) {
  .product-section {
    display: grid;
    margin: 7rem 0 0;
    grid-gap: 0.25rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "fp fp fp fp"
      "pp pp pp pp";
  }
  .product-part {
    justify-content: center;
  }
}
