.product-section {
  margin: 5rem 0.5rem 0.5rem;
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "fp fp pp pp pp pp pp pp pp";
}

.filter-part {
  grid-area: fp;
}
.filter-content {
  position: sticky;
  top: 75px;
}
.product-part {
  grid-area: pp;
  padding-top: 10vw;
}

.product-section .filter-part,
.product-section .product-part {
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.082);
  border-radius: 0.1rem;
}

/* Products========================== */

.product-part {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.card {
  margin: 0.75rem 0.5rem;
  flex: 1 1 200px;
  background: #fff;
}
.card-image {
  max-height: 16rem;
  padding: 1rem;
}
.product-img {
  width: 100%;
  height: auto;
}
.card-image button {
  background: rgba(255, 255, 255, 0.808);
  color: gray;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.25rem;
  padding: 0 0.25rem;
}
.card .card-content {
  background: transparent;
}
.card .card-content .btn-product {
  padding: 0.25rem 0.5rem;
  min-width: 100%;
  font-weight: 500;
  color: var(--e-secondary);
  background: var(--e-primary);
}

/* ----------for small screen------------- */
@media screen and (max-width: 670px) {
  .product-section {
    display: grid;
    margin: 7rem 0 0;
    grid-gap: 0.25rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "fp fp fp fp"
      "pp pp pp pp";
  }
  .product-part {
    justify-content: center;
  }
}
