.price-detail {
  margin-right: 1vw;
}
.price-detail--heading {
  font-size: 1.25rem;
  padding: 1rem;
  background: white;
  margin-bottom: 1px;
}
.price-detail .price,
.price-detail .delivery-charge,
.price-detail .price-detail__amount {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background: white;
}
.price-detail .price-detail__amount {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  border-top: 1px dashed var(--e-primary);
}
.price-detail .price-detail--checkout {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  width: 40%;
  color: white;
  margin-top: 0.5rem;
  border-color: var(--e-secondary);
  background: var(--e-secondary);
  font-weight: 500;
  font-family: inherit;
}
